.gameInfoContainer{
     // display: inline-block;
     line-height: 15px;
     // width: 100%;
     flex-direction: column;
     border: 1px solid rgba(255, 255, 255, 0.3);
     color: white;
     background-color: rgba(255, 255, 255, 0.05);
     border-radius: 20px;
     justify-content: center;
     align-self: center;
     // width: 60%;
     // padding: 15px;
     padding-top: 0px;
     padding-right: 15px;
     padding-bottom: 15px;
     padding-left: 15px;
}

.lines{
     margin-top: 20px;
     margin-bottom:20px;
     font-size: 20px;
}

#line{
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#header{
     font-size: 20px;
}

#point{
     margin-top: 50px;
}

.infographicContainer{
     display: inline-flex;
     width: 80%;
}